mat-toolbar {
  height: 5%;
  overflow: hidden;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
}
