<section class="help-page">
  <h1>{{ "help_page.title" | translate }}</h1>
  <h2>{{ "help_page.introduction.title" | translate }}</h2>
  <p>{{ "help_page.introduction.content" | translate }}</p>
  <h2>{{ "help_page.user_guide.title" | translate }}</h2>
  <h3>{{ "help_page.user_guide.features.dashboard.title" | translate }}</h3>
  <p>{{ "help_page.user_guide.features.dashboard.content" | translate }}</p>
  <table mat-table [dataSource]="configuration.shifts" class="shift-table">
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>
        {{ "help_page.shift_name" | translate }}
      </th>
      <td mat-cell *matCellDef="let shift">{{ shift.displayName }}</td>
    </ng-container>

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef>
        {{ "help_page.is_working" | translate }}
      </th>
      <td mat-cell *matCellDef="let shift">
        <mat-icon>{{ getIconForShift(shift) }}</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="maxWorkers">
      <th mat-header-cell *matHeaderCellDef>
        {{ "help_page.max_workers" | translate }}
      </th>
      <td mat-cell *matCellDef="let shift">{{ shift.maxWorkers }}</td>
    </ng-container>

    <ng-container matColumnDef="minExperiencedWorkers">
      <th mat-header-cell *matHeaderCellDef>
        {{ "help_page.min_experts" | translate }}
      </th>
      <td mat-cell *matCellDef="let shift">
        {{ shift.minExperiencedWorkers }}
      </td>
    </ng-container>

    <ng-container matColumnDef="maxExperiencedWorkers">
      <th mat-header-cell *matHeaderCellDef>
        {{ "help_page.max_experts" | translate }}
      </th>
      <td mat-cell *matCellDef="let shift">
        {{ shift.maxExperiencedWorkers }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'displayName',
        'icon',
        'maxWorkers',
        'minExperiencedWorkers',
        'maxExperiencedWorkers',
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'displayName',
          'icon',
          'maxWorkers',
          'minExperiencedWorkers',
          'maxExperiencedWorkers',
        ]
      "
    ></tr>
  </table>
  <p>
    {{
      "help_page.user_guide.features.dashboard.rules"
        | translate
          : {
              min_experience: configuration.experiencedYearsThreshold,
            }
    }}
  </p>
  <h3>{{ "help_page.user_guide.features.profile.title" | translate }}</h3>
  <p>{{ "help_page.user_guide.features.profile.content" | translate }}</p>
  <p>{{ "help_page.user_guide.features.profile.rules" | translate }}</p>
  <h3>{{ "help_page.user_guide.features.security.title" | translate }}</h3>
  <p>{{ "help_page.user_guide.features.security.content" | translate }}</p>
  <p>{{ "help_page.user_guide.features.security.rules" | translate }}</p>
  <h2>{{ "help_page.admin_guide.title" | translate }}</h2>
  <h3>{{ "help_page.admin_guide.features.dashboard.title" | translate }}</h3>
  <p>{{ "help_page.admin_guide.features.dashboard.content" | translate }}</p>
  <p>{{ "help_page.admin_guide.features.dashboard.rules" | translate }}</p>
  <h3>
    {{ "help_page.admin_guide.features.admin-dashboard.title" | translate }}
  </h3>
  <p>
    {{ "help_page.admin_guide.features.admin-dashboard.content" | translate }}
  </p>
  <p>
    {{ "help_page.admin_guide.features.admin-dashboard.rules" | translate }}
  </p>
</section>
