<div class="dashboard-container">
  <mat-form-field class="current-month" appearance="fill">
    <mat-label>{{ "user_dashboard.select_month" | translate }}</mat-label>
    <input
      matInput
      readonly
      [matDatepicker]="picker"
      [value]="selectedDate"
      [min]="minDate"
      [max]="maxDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      startView="year"
      (monthSelected)="onMonthSelected($event, picker)"
      touchUi
    ></mat-datepicker>
  </mat-form-field>

  <app-user-shift-table
    [users]="users"
    [days]="daysInMonth"
    [shiftOptions$]="shiftOptions$"
    [assignmentsObservable]="shiftAssignments$"
    (shiftSelectionEvent)="onShiftUpdate($event)"
  >
  </app-user-shift-table>
</div>
