<div class="dashboard-container">
  <mat-form-field appearance="fill">
    <mat-label>{{'user_dashboard.select_month' | translate}}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="selectedDate"
      [min]="minDate"
      [max]="maxDate"
      type="month"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      startView="multi-year"
      (monthSelected)="onMonthSelected($event, picker)"
      panelClass="month-picker"
      touchUi
    ></mat-datepicker>
  </mat-form-field>

  <app-user-shift-table
    [users]="users"
    [days]="daysInMonth"
    [shifts]="shiftOptions"
    [assignmentsObservable]="shiftAssignments$"
    (shiftSelectionEvent)="onShiftUpdate($event)"
  >
  </app-user-shift-table>
</div>
