<div class="login-container">
  <mat-tab-group>
    <mat-tab label="Login">
      @if (loginRequestState === "error") {
      <div class="confirmation-dialog">
        <p>{{ "login.error.confirmation_failed" | translate }}</p>
      </div>
      } @else if (loginRequestState === "loading") {
      <div class="confirmation-dialog">
        <mat-spinner></mat-spinner>
      </div>
      } @else {
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            {{ "login.confirmation_needed" | translate }}
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            {{ "login.error.email_invalid" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ "user.password" | translate }}</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Toggle password visibility'"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            {{ "login.error.password_required" | translate }}
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="full-width"
          type="submit"
        >
          Login
        </button>

        <a
          class="password-forgot"
          routerLink="/recovery"
          [queryParams]="{ type: 'password_reset' }"
          >{{ "login.password_forgot" | translate }}</a
        >
      </form>
      }
    </mat-tab>

    <mat-tab label="{{ 'login.register' | translate }}">
      @if (registrationRequestState === "success") {
      <div class="confirmation-dialog">
        <p>{{ "login.confirmation_sent" | translate }}</p>
      </div>
      } @else if (registrationRequestState === "error") {
      <div class="confirmation-dialog">
        <p>{{ "login.error.registration_failed" | translate }}</p>
      </div>
      } @else if (registrationRequestState === "loading") {
      <div class="confirmation-dialog">
        <mat-spinner></mat-spinner>
      </div>
      } @else {
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ "user.password" | translate }}</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Toggle password visibility'"
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ "user.fname" | translate }}</mat-label>
          <input matInput type="text" formControlName="fname" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ "user.lname" | translate }}</mat-label>
          <input matInput type="text" formControlName="lname" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ "user.date_employment" | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="employmentDate"
            [max]="maxDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi></mat-datepicker>
        </mat-form-field>
        <mat-checkbox formControlName="hasSpecialization">{{
          "user.has_specialization" | translate
        }}</mat-checkbox>
        <br />
        <p>
          *{{ "login.policy_accept" | translate }}
          <a target="_blank" [href]="policyUrl">policy</a>
        </p>
        <button mat-raised-button color="primary" type="submit">
          *Register
        </button>
      </form>
      }
    </mat-tab>
  </mat-tab-group>
</div>
