.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

mat-tab-group {
  background-color: black;
  border-radius: 10px;
}

form,
.confirmation-dialog {
  width: 300px;
  padding: 20px;
}

.confirmation-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

p {
  color: white;
}

a.password-forgot {
  padding-left: 10px;
  color: #ffabf3;
}
